@model TestProjct.Models.UserModels
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome <strong>user</strong></h2>

<ul>
    <li>Name : @Model.Name</li>
    <li>Mail : @Model.Mail</li>
    <li>Role : @Model.Roles</li>
</ul>

